/* Regole Generali */
* {
    margin: 0;
    padding: 0;
    background: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

i {
    color: white    ;
}

span {
    color: white;
}

a {
    text-decoration: none;
}

/* COMANDI INTESTAZIONE */
header {
    width: 100%;
    height: 50px;  
}

    .box-speaker {
                display: flex;
                flex-direction: row-reverse;
    }

    .box {
                width: 121px;
                border-radius: 5px;
                margin-top: 5px;
                margin-right: 5px;
                padding: 5px 3px;
                color: white;
                background-color: grey;
                order: 1;
    }

    .arrow {
                width: 17px;
                border-radius: 5px;
                margin-top: 5px;
                margin-right: 5px;
                padding: 5px 3px;
                color: white;
                background-color: grey;
    }

/* Main Corpo */

main {
    height: calc(90vh - 150px);
    margin-bottom: 5%;
}

.container {
    height: 80vh ;
    overflow-y: auto;
    overflow-x: hidden;
}

    #grid {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        margin: 2% 2%;
        overflow: hidden;
    }

    .blocco {
        position: relative;
    }
        #grid img {
            display: block;
            max-width: 100%;
            margin-bottom: 5px;
            padding: 5px;
        }

        .mute {
            width: 100px;
            padding: 2px 2px;
            background-color: #505050;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
/* FOOTER */

footer {
    height: 100px;
    width: 100%;
    background-color: grey;
}

.comandi {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separe {
    width: 100%;
    display: flex; 
}

    .simbolo {
        font-size: 30px;
        padding: 10px 15px;
        text-decoration: none;
        text-align: center;
    }

    .scritta {
        width: 10%;
        font-size: 15px;
        text-align: center;
        padding: 0 7px;
        color: white;
    }

    #video-txt {
        width: 100%;
        font-size: 15px;
        text-align: center;
        padding: 0 7px;
        color: white;
    }
    
    .fa-chevron-up {
        font-size: 10px;
        text-align: left;
    }

    #video {
        padding-left: 30px;
    }

    .users {
        width: 100%;
        color: white;
        padding: 0 5px;
    }

    .center {
        text-align: center;
    }

    .green {
        color: green;
    }

    .ext {
        width: 50%;
        text-align: center;
        background-color: rgba(108, 5, 5, 0.357);
        padding: 32px 10px;
        align-items: flex-end;
        color: red;
        text-decoration: none;
    }